name: Mirror
on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * *"

jobs:
  build:
    permissions:
      contents: write
    name: Mirror
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Setup git
        run: |
          git config --global user.name 'Nyako Shigure'
          git config --global user.email 'shigure_nyako@outlook.com'

      - name: Run mirror
        run: |
          uv run --script mirror.py

      - name: Push changes
        run: |
          git push https://$GH_TOKEN@github.com/$GITHUB_REPOSITORY HEAD:refs/heads/main --tags
        env:
          GH_TOKEN: ${{ secrets.PRE_COMMIT_HOOK_AUTO_UPDATE_TOKEN }}
